/.vs
/src/.vs
/src/CodeBuns.Dotnet.Common/bin
/src/CodeBuns.Dotnet.Common/obj
/src/CodeBuns.Dotnet.Common.Tests/bin
/src/CodeBuns.Dotnet.Common.Tests/obj
/src/CodeBuns.NET48.Common/bin
/src/CodeBuns.NET48.Common/obj
/src/packages
*.user
