<configuration>
	<configSections>
		<section name="smtpProviders" type="CodeBuns.NET48.Common.SmtpProvidersSection, CodeBuns.NET48.Common" />
	</configSections>
	<appSettings>
		<add key="DefaultSmtpProvider" value="SendGrid" />
	</appSettings>
	<smtpProviders>
		<provider name="SendGrid" host="smtp.sendgrid.net" port="587" enableSsl="true" username="sendgrid_user" password="sendgrid_password" />
		<provider name="Mailgun" host="smtp.mailgun.org" port="587" enableSsl="true" username="mailgun_user" password="mailgun_password" enabled="false" />
	</smtpProviders>
</configuration>